# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Bb]uilds/
[Ll]ibrary/
sysinfo.txt
*.stackdump
Assets/AssetStoreTools*
*.apk
*.unitypackage
App/
WindowsApp/
ProjectSettings/ProjectVersion.txt

!**/*.obj
!**/*.obj.meta

# ==================== #
# Third-party packages #
# ==================== #

Assets/HoloToolkit/
Assets/HoloToolkit.meta
Assets/StandaloneFileBrowser/
Assets/StandaloneFileBrowser.meta
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
.idea/
*.userprefs
*.csproj
*.pidb
*.pidb.meta
*.suo
*.sln*
*.user
*.unityproj
*.booproj
*.consulo
*.tmp
*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/ 
